# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
.Rproj.user

# do not store data at github
data

# no markdown output
R/exp1/*.html
R/exp1/*.pdf
R/exp1/*.docx
R/exp2/*.html
R/exp2/*.pdf
R/exp2/*.docx
R/exp3/*.html
R/exp3/*.pdf
R/exp3/*.docx
R/exp4/*.html
R/exp4/*.pdf
R/exp4/*.docx
